GLM_API_KEY=replace-with-glm-api-key

BAIDU_NETWORKDISK_CLIENT_ID=replace-with-baidu-client-id
BAIDU_NETWORKDISK_DEVICE_ID=replace-with-baidu-device-id
BAIDU_NETWORKDISK_CLIENT_SECRET=replace-with-baidu-client-secret

QDRANT_HOST=replace-with-qdrant-host
QDRANT_API_KEY=replace-with-qdrant-api-key
